.chat{
    padding: 10px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 7px 18px 7px 16px;
}
 
.chat-content{
    padding-top: 6px;
    padding-bottom: 9px;
    color: rgb(5, 2, 2);
    opacity: 0.8;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}
.massage{
  padding-top: 7px;
}
.chat:hover{
    background-color: rgb(235, 240, 252);
}
.name{
    font-size: 12px;
    font-weight: 900;
    margin-right: 80px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: sans-serif;
}
.data{
    font-size: 10.2px;
    opacity: 0.6;
    font-family: sans-serif;
}
.around{
  margin-left: auto;
}






